{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allow": ["_id"] }],
    "max-len": ["error", { "code": 120 }],
  },
}
